body {
  background-color: #fff47d;
  font-size: 14px;
  font-style: italic;
  padding-left: 5%;
}

h2 {
  height: 50px;
  background-color: #ffa600;
  text-align: center;
  font-size: 27px;
  color:white;
}

.pizzaPic {
  height: 200px;
  width: 200px;
}

.hawaiianBlock {
  width: 50%;
  float: center;
  margin-left: 37%;
}

.cheeseBlock {
  width: 50%;
}

.margheritaBlock {
  width: 50%;
  float: center;
  margin-left: 10%;
}

.veggieBlock {
  width: 50%;
} 

button {
  height:50px;
  width:80px;
  border-radius: 12px;
  background-color: #ffa600 ;
  color: white;
}

.sidenav {
  height: 40%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 60%;
  left: 80%;
  background-color: #ed5813;
  opacity: 0.7;
  overflow-x: hidden;
  padding-top: 20px;
  color:solid black;
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
}

.row {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding:5px
}